body {
  background-color: #f7f2f3;;
  
}
#portail{
  border-width:1px;
  border-style:solid;
  border-color: #74787B;
  font-size: 14px ;
  width : 210px ;
  text-align: center ;
  font-weight: normal;
  background-color: #71777A;
  font-family: sans-serif;
  color: rgb(225, 236, 190);
  }
  #mv{
    text-decoration: none ;
  }
  .menu_select{
    margin-top: 52px ;
  }
  .corp{
    margin-top:2px ;
  }
/* style de la barre de recherche */
.input-group{
  width: 10px;
  z-index: 988;
}
/*style de la carte*/ 
#carte{
  height: 650px ;
}
#carte_leaflet {
  width: 100%;
  height:1000px;
}

/* Optional: Makes the sample page fill the window. */
#resultats{
  background-color: #f7f2f3;
  border-radius :25px;
}
#ign{
  display:flex;
  flex-direction: row;
}
#ban{
  display:flex;
  flex-direction: row;
}
#google{
  display:flex;
  flex-direction: row;
}
p{
  padding-left: 10px;
}
.marker_ban {
  background-image: url('marker_ban.png');
  background-size: cover;
  width: 100%;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.marker_google {
  background-image: url('marker_google.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.bg-primary{
  background-color: gray;
  color: green ;
 }
  

